
body{
     padding: 30px;
    background-color: rgb(201, 76, 76);
}

header{
    color: white;
    font-size: 40px;
    font-weight: bold;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color:rgb(165, 42, 42);
}

#section_Buttons{
	height: 60px;
	width: 100%;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color:rgb(165, 42, 42);
	justify-content: center;
}

#section_Alunos{
    display: flex;
    height: 400px;
	margin: 10;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color:rgb(165, 42, 42);
	justify-content: center;
}

#divButton{
	display: flex;
	height: 100%;
    width: 100%;
	justify-content: center;
}


#div_Alunos{
    height: 50px;
    width: 100%;
    border: 50px;
}


h1{
    line-height: 0px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

#buttonRed{
    text-align: center;
	background-color: red;
	font-size: 100%;
	width: 120px;
	height: 50px;
	border-style: none;
	color: white;
	margin: 5px;
}

#menu{
	margin-top: 5px;
	height: 60px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color:rgb(165, 42, 42);
	
}


#menu ul {
    padding:0px;
	margin:0px;
	font-size: 100%;
	list-style:none;
	text-align: center;
}

#menu ul li {
	 display: inline; 
}

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:red;
    color: white;
    text-decoration: none;
    border-bottom:3px solid red;
}
#menu ul li a:hover {
    background-color: white;
    color: red;
    border-bottom:3px solid red;
}

a{
	color: white;
	text-decoration: none;
	font-weight: none;
}

#articleAluno{
	flex: 1;
	margin-left: 15px;
	margin-bottom: 15px;
	padding-left: 15px;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: rgb(165, 42, 42);
}

p{
    line-height: 0px;
    font-size: 20px;
    color: white;
}

article{
	flex: 1;
	margin-left: 15px;
}

footer{
    font-size: 20px;
    color: white;
    text-align: center
}