
body{
     padding: 30px;
    background-color: rgb(201, 76, 76);
}

header{
    color: white;
    font-size: 40px;
    font-weight: bold;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color:rgb(165, 42, 42);
}

#section_Buttons{
	display: flex;
	height: 60px;
	width: 100%;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color:rgb(165, 42, 42);
}

#section_Alunos{
    display: flex;
    height: 400px;
	margin: 10;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color:rgb(165, 42, 42);
	justify-content: center;
}

#divButton{
	display: flex;
	height: 100%;
    width: 100%;
	justify-content: center;
}


#div_Alunos{
    height: 50px;
    width: 100%;
    border: 50px;
}


h1{
    line-height: 0px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

#buttonRed{
    text-align: center;
	background-color: red;
	font-size: 100%;
	width: 120px;
	height: 50px;
	border-style: none;
	color: white;
	margin: 5px;
}

a{
	color: white;
	text-decoration: none;
	font-weight: none;
}

#articleAluno{
	flex: 1;
	margin-left: 15px;
	margin-bottom: 15px;
	padding-left: 15px;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: rgb(165, 42, 42);
}

p{
    line-height: 0px;
    font-size: 20px;
    color: white;
}

article{
	flex: 1;
	margin-left: 15px;
}

footer{
    font-size: 20px;
    color: white;
    text-align: center
}